body {
    margin: 0;
    box-sizing: border-box;
    background-color: whitesmoke;
    color: #fec87e;
    color: #d9d9f4;
    color: #fea3e8;
    color: #012314;
    color: #00d0dd;
    font-family: "Courier New", Courier, monospace;
    text-align: center;
}

.topbar {
    width: 99vw;
    height: 100px;
    background-color: #fec87e;
    margin: 5px;
}

#logo img {
    margin: 20px;
    width: 100px;
    height: 100px;
    float: left;
}

html body main div#carousel {
    margin: 0 auto;
    height: 300px;
    width: 400px;
    background: grey;
}

#registration h3 {
    margin: 5px;
}

input {
    border: solid black 1px;
    margin: 5px;
    padding: 3px;
}

div#welcome button {
    margin-top: 20px;
}

.profile-pic img#right-corner {
    width: 70px;
    height: 70px;
    float: right;
    margin: 15px;
    margin-right: 20px;
    border-radius: 50%;
}

#profile,
.other-profile,
.movie-info {
    width: 320px;
    margin: 10px;
    margin-top: -10px;
    padding: 10px;
    border: black solid 1px;
    background: #d9d9f4;
    float: left;
    clear: left;
}

#profile img,
.find-people img,
.other-profile img {
    width: 200px;
    height: 200px;
    border: solid black 1px;
    margin: 10px;
}
.uploader {
    position: fixed;
    left: 25%;
    height: 300px;
    width: 50%;
    padding: 30px;
    border: black solid 1px;
    background-color: #fec87e;
    z-index: 100;
}

div.nav-menu {
    width: 200px;
    margin: 10px;
    padding: 10px;
    border: black solid 1px;
    background: #d9d9f4;
    text-align: right;
    float: right;
    clear: right;
}

#ticker-box {
    background-color: whitesmoke;
    overflow: hidden;
}
#ticker {
    position: relative;
    display: flex;
    white-space: nowrap;
    margin: 5px;
    height: 50px;
    animation: side-scroll 20s linear infinite;
}
#ticker h3 {
    height: 20px;
    padding: 5px;
    margin: 10px;
    background-color: white;
    color: black;
    border: black solid 1px;
}

#top-ten {
    position: absolute;
    top: 0px;
    left: 0px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    text-align: right;
}
#ticker:hover {
    animation-play-state: paused;
}

.top-ten a {
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 20px;
}

a {
    margin: 5px;
    line-height: 50px;
    padding: 5px;
    background-color: white;
    color: black;
    border: black solid 1px;
    text-decoration: none;
}
a:hover {
    background-color: #fec87e;
    color: black;
}

button {
    margin: 5px;
    padding: 3px;
    background-color: white;
    border: black solid 1px;
}

button:hover {
    background-color: #00d0dd;
    color: black;
}
#find-people-results a:nth-child(odd),
div.find-movies div#find-movies-results div a {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}
#find-movies-results img {
    width: 200px;
    height: 270px;
}
#hidden-movie-info {
    visibility: hidden;
    width: 200px;
    height: 330px;
    background-color: red;
    overflow: hidden;
    position: absolute;
    z-index: 10;
}

.find-movies h4 {
    width: 190px;
    background-color: white;
    margin: 10px;
    margin-bottom: 20px;
    color: black;
    border: solid black 1px;
    padding: 5px;
}

#find-people-results,
#find-movies-results {
    margin-left: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#find-people-results div {
    position: block;
}

.other-profile,
.movie-info {
    position: relative;
    left: 30%;
    width: 40%;
    padding: 10px;
}

.movie-info h2 {
    background-color: #fec87e;
    padding: 10px;
    color: black;
    border: solid 1px black;
}

.movie-info p {
    background-color: white;
    padding: 10px;
    margin: 10px;
    border: dashed black 1px;
}

.movie-info #movie-info-lan-vote-box {
    color: black;
    height: 20px;
    margin: 10px;
}
#language,
#vote-average {
    background-color: white;
    padding: 10px;
    border: solid black 1px;
}
.movie-info #movie-info-lan-vote-box #language {
    float: left;
}
.movie-info #movie-info-lan-vote-box #vote-average {
    float: right;
}

.other-profile img {
    margin-top: 40px;
}

#chat {
    position: relative;
    left: 25%;
    width: 50%;
}

#chat textarea {
    width: 90%;
    margin: 20px;
}

.chat-container {
    height: 550px;
    border: solid black 1px;
    background-color: aliceblue;
    overflow-y: auto;
}

.messages {
    padding: 10px;
    border: black solid 1px;
    overflow: auto;
    text-align: left;
}

.chat-container img {
    width: 70px;
    height: 70px;
    padding: 10px;
    border-radius: 50%;
    float: left;
    clear: left;
}

html body main div#app div#main-container textarea img {
    object-fit: cover;
}

@keyframes side-scroll {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-100%, 0);
    }
}

/* do the seach filter for movies tonight, make a component for the movies selected */
